<div class="flex">
    <nav class="bg-gray-100 shadow-md p-4  w-64 h-screen fixed">
        <div class='flex'>
            <div>
            <img src="./logo.png" height="60" width="50" alt='logo'/>
            </div>
            <div class='mt-4'>
            <span class='text-blue-500 text-lg' >Wealth</span>
            <span class='text-green-500 text-lg' >Folio</span>
           
            </div>
        </div>
        <ul class="space-y-6 mt-4">
            <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
                <a class="text-gray-600 hover:underline block" routerLink="/home">
                  Dashboard
                </a>
            </li>
            <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
                <a class="text-gray-600 hover:underline block" routerLink="/assets">
                   Assets
                </a>
            </li>
            <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
                <a class="text-gray-600 hover:underline block" routerLink="/liabilities">
                   Liabilities
                </a>
                </li>
                <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
                <a class="text-gray-600 hover:underline block" routerLink="/transactions">
                  Transactions
                </a>
                </li>
                <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
                <a class="text-gray-600 hover:underline block" routerLink="/budget">
                   Budget Tracking
                </a>
            </li>
            <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
                <a class="text-gray-600 hover:underline block" routerLink="/stocks">
                   Stocks
                </a>
            </li>
            <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
              <a class="text-gray-600 hover:underline block" routerLink="/payment">
                 Payment
              </a>
          </li>
            <li class='bg-white  rounded-full pl-4 pt-2 pb-2'>
                <a class="text-gray-600 hover:underline block" routerLink="/logout">
                   Logout
                </a>
            </li>
        </ul>
    </nav>
    <div class="ml-64 bg-gray-100 p-8 w-full">
        <div class="m-12 xl:m-16 p-8 bg-white shadow-md rounded-lg">
            <h1 class="text-2xl font-bold mb-4">Add Transaction</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
              <div>
                <label class="block text-sm font-medium text-gray-700">Transaction Type</label>
                <select name="type" class="mt-1 block w-full p-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        [(ngModel)]="newTransaction.type" (change)="handleInputChange($event)">
                  <option value="Beauty">Beauty</option>
                  <option value="Food">Food</option>
                  <option value="Household">Household</option>
                  <option value="Culture">Culture</option>
                  <option value="Health">Health</option>
                  <option value="Transportation">Transportation</option>
                  <option value="Education">Education</option>
                  <option value="Bills">Bills</option>
                  <option value="Apparel">Apparel</option>
                </select>
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700">Description</label>
                <input required type="text" name="description" class="mt-1 block w-full p-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                       [(ngModel)]="newTransaction.description" (input)="handleInputChange($event)" />
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700">Credit or Debit</label>
                <select name="balance" class="mt-1 block w-full p-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        [(ngModel)]="newTransaction.balance" (change)="handleInputChange($event)">
                  <option value="credit">Credit</option>
                  <option value="debit">Debit</option>
                </select>
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700">Amount</label>
                <input required type="number" name="amount" class="mt-1 block w-full p-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                       [(ngModel)]="newTransaction.amount" (input)="handleInputChange($event)" />
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700">Payment Method</label>
                <input required type="text" name="paymentMethod" class="mt-1 block w-full p-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                       [(ngModel)]="newTransaction.paymentMethod" (input)="handleInputChange($event)" />
              </div>
            </div>
            <button (click)="addTransaction()" class="mb-8 bg-blue-500 text-white px-4 py-2 rounded-lg">Add Transaction</button>
          
            <h1 class="text-2xl font-bold mb-4">Transaction History</h1>
            <div class="flex mb-4">
              <button (click)="setFilter('today')" class="px-4 py-2 rounded-full" [ngClass]="filter === 'today' ? 'bg-blue-500 text-white' : 'bg-gray-200'">Today</button>
              <button (click)="setFilter('thisWeek')" class="px-4 py-2 ml-2 rounded-full" [ngClass]="filter === 'thisWeek' ? 'bg-blue-500 text-white' : 'bg-gray-200'">This Week</button>
              <button (click)="setFilter('thisMonth')" class="px-4 py-2 ml-2 rounded-full" [ngClass]="filter === 'thisMonth' ? 'bg-blue-500 text-white' : 'bg-gray-200'">This Month</button>
              <button (click)="setFilter('all')" class="px-4 py-2 ml-2 rounded-full" [ngClass]="filter === 'all' ? 'bg-blue-500 text-white' : 'bg-gray-200'">All</button>
             
            
            </div>
            
            <ul>
              <li *ngFor="let transaction of filteredTransactions" class="mb-4">
                <div class="flex justify-between items-center mb-2">
                  <div class="text-gray-600">{{ transaction.date }} <span>{{transaction.time}}</span></div>
                  <div class="text-gray-600">{{ transaction.day }}</div>
                </div>
                <div class="flex justify-between items-center bg-gray-100 p-4 rounded-lg shadow">
                  <div>
                    <div class="text-sm text-gray-600">{{ transaction.type }}</div>
                    <div class="text-lg font-semibold">{{ transaction.description }}</div>
                    <div class="text-sm text-gray-500">{{ transaction.paymentMethod }}</div>
                  </div>
                  <div class="text-right">
                    <div [ngClass]="transaction.balance === 'debit' ? 'text-red-500' : 'text-green-500'">₹{{ transaction.amount?.toFixed(2) }}</div>
                  </div>
                </div>
              </li>
            </ul>
            <button (click)="exportToCSV()" class="bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Export to CSV</button>
     
          </div>
          

    </div>

</div>
